h1.title.addressbook {
	background-image:		url('addressbook.png');
}

h1.title.admin {
	background-image:		url('admin.png');
}

h1.title.appearance {
	background-image:		url('appearance.png');
}

h1.title.article {
	background-image:		url('article.png');
}

h1.title.bookmark {
	background-image:		url('bookmark.png');
}

h1.title.browser {
	background-image:		url('browser.png');
}

h1.title.bug {
	background-image:		url('bug.png');
}

h1.title.caclient {
	background-image:		url('user.png');
}

h1.title.category {
	background-image:		url('category.png');
}

h1.title.comment {
	background-image:		url('comment.png');
}

h1.title.contact {
	background-image:		url('contact.png');
}

h1.title.content {
	background-image:		url('content.png');
}

div.debug div.visible.info {
	background-image:		url('info.png');
}

div.debug div.visible.error {
	background-image:		url('error.png');
}

div.debug div.visible.warning {
	background-image:		url('warning.png');
}

h1.title.directory {
	background-image:		url('directory.png');
}

h1.title.download {
	background-image:		url('download.png');
}

h1.title.home {
	background-image:		url('home.png');
}

h1.title.news, h1.title.wiki {
	background-image:		url('news.png');
}

h1.title.package {
	background-image:		url('package.png');
}

h1.title.probe {
	background-image:		url('probe.png');
}

h1.title.project {
	background-image:		url('project.png');
}

h1.title.search {
	background-image:		url('search.png');
}

h1.title.top {
	background-image:		url('top.png');
}

h1.title.user {
	background-image:		url('user.png');
}

h1.title.users, h1.title.members {
	background-image:		url('users.png');
}

h1.title.webmail {
	background-image:		url('webmail.png');
}
