h1.title.addressbook:before {
	content:			url('addressbook.png');
}

h1.title.admin:before {
	content:			url('admin.png');
}

h1.title.appearance:before {
	content:			url('appearance.png');
}

h1.title.article:before {
	content:			url('article.png');
}

h1.title.blog:before {
	content:			url('blog.png');
}

h1.title.bookmark:before {
	content:			url('bookmark.png');
}

h1.title.browser:before {
	content:			url('browser.png');
}

h1.title.bug:before {
	content:			url('bug.png');
}

h1.title.ca:before {
	content:			url('ca.png');
}

h1.title.caclient:before {
	content:			url('user.png');
}

h1.title.caserver:before {
	content:			url('caserver.png');
}

h1.title.category:before {
	content:			url('category.png');
}

h1.title.comment:before {
	content:			url('comment.png');
}

h1.title.contact:before {
	content:			url('contact.png');
}

h1.title.content:before {
	content:			url('content.png');
}

div.debug .visible.info:before {
	content:			url('info.png');
}

div.debug .visible.error:before {
	content:			url('error.png');
}

div.debug .visible.warning:before {
	content:			url('warning.png');
}

h1.title.directory:before {
	content:			url('directory.png');
}

h1.title.download:before {
	content:			url('download.png');
}

h1.title.home:before {
	content:			url('home.png');
}

h1.title.logout:before {
	content:			url('logout.png');
}

h1.title.news:before, h1.title.wiki:before {
	content:			url('news.png');
}

h1.title.package:before {
	content:			url('package.png');
}

h1.title.pki:before {
	content:			url('pki.png');
}

h1.title.probe:before {
	content:			url('probe.png');
}

h1.title.project:before {
	content:			url('project.png');
}

h1.title.search:before {
	content:			url('search.png');
}

h1.title.top:before {
	content:			url('top.png');
}

h1.title.user:before {
	content:			url('user.png');
}

h1.title.users:before, h1.title.members:before {
	content:			url('users.png');
}

h1.title.webmail:before {
	content:			url('webmail.png');
}
