h2.title.bug:before {
	content:			url('bug.png');
}

h2.title.ca:before {
	content:			url('ca.png');
}

h2.title.caclient:before {
	content:			url('users.png');
}

h2.title.caserver:before {
	content:			url('caserver.png');
}

h2.title.comment:before {
	content:			url('comment.png');
}

h2.title.download:before {
	content:			url('download.png');
}

h2.title.host:before {
	content:			url('host.png');
}

h2.title.language:before {
	content:			url('language.png');
}

h2.title.members:before, h2.title.users:before {
	content:			url('users.png');
}

h2.title.modules:before, h2.title.settings:before {
	content:			url('settings.png');
}

h2.title.news:before, h2.title.wiki:before {
	content:			url('news.png');
}

h2.title.project:before {
	content:			url('project.png');
}

h2.title.stats:before {
	content:			url('stats.png');
}
