[Desktop Entry]
Name=Mail client
Comment=Read and send e-mails and more
Exec=mailer
Icon=stock_mail
Type=Application
Categories=Office;Network;Email;GTK;
StartupNotify=true