[Desktop Entry]
Name=Dialer
Comment=Phone dialer
Exec=phonectl -D
Icon=phone-dialer
Type=Application
Categories=Network;Telephony;GTK;
StartupNotify=true
