[Desktop Entry]
Name=Contacts
Comment=Phone address book
Exec=phone-contacts
Icon=stock_addressbook
Type=Application
Categories=Network;Telephony;GTK;
StartupNotify=true
