[Desktop Entry]
Name=Messages
Comment=Phone messaging
Exec=phonectl -M
Icon=stock_mail-compose
Type=Application
Categories=Network;Telephony;GTK;
StartupNotify=true
