[Desktop Entry]
Name=Dialer
Comment=Phone dialer
Exec=phone-dialer
Icon=phone-dialer
Type=Application
Categories=Network;Telephony;GTK;
StartupNotify=true
