[Desktop Entry]
Name=Contacts
Comment=Phone address book
Exec=phonectl -C
Icon=stock_addressbook
Type=Application
Categories=Office;ContactManagement;GTK;
StartupNotify=true
