[Desktop Entry]
Name=PDF viewer
Comment=A simple PDF viewer
Exec=pdfviewer
Icon=document-print-preview
Type=Application
Categories=Office;Viewer;GTK;
StartupNotify=true
