[Desktop Entry]
Name=File manager
Comment=File manager and image viewer
Exec=browser
Icon=system-file-manager
Type=Application
Categories=System;Core;FileManager;GTK;
StartupNotify=true
