[Desktop Entry]
Name=Help browser
Comment=Help for applications, manual pages and programming interfaces
Exec=helper
Icon=help-browser
Type=Application
Categories=Documentation;Core;GTK;
StartupNotify=true
