.icon.add {
	background-image:		url('add.png');
}

.icon.admin {
	background-image:		url('admin.png');
}

.icon.align_center {
	background-image:		url('align_center.png');
}

.icon.align_justify {
	background-image:		url('align_justify.png');
}

.icon.align_left {
	background-image:		url('align_left.png');
}

.icon.align_right {
	background-image:		url('align_right.png');
}

.icon.back {
	background-image:		url('back.png');
}

.icon.bold {
	background-image:		url('bold.png');
}

.icon.bug {
	background-image:		url('bug.png');
}

.icon.bullet {
	background-image:		url('bullet.png');
}

.icon.copy {
	background-image:		url('copy.png');
}

.icon.cut {
	background-image:		url('cut.png');
}

.icon.delete {
	background-image:		url('delete.png');
}

.icon.disabled, .icon.cancel {
	background-image:		url('disabled.png');
}

.icon.browse, .icon.download {
	background-image:		url('download.png');
}

.icon.edit {
	background-image:		url('edit.png');
}

.icon.enabled, .icon.submit {
	background-image:		url('enabled.png');
}

.icon.enum {
	background-image:		url('enum.png');
}

.icon.forward {
	background-image:		url('forward.png');
}

.icon.home {
	background-image:		url('home.png');
}

.icon.hrule {
	background-image:		url('hrule.png');
}

.icon.indent {
	background-image:		url('indent.png');
}

.icon.insert-image {
	background-image:		url('insert-image.png');
}

.icon.italic {
	background-image:		url('italic.png');
}

.icon.link {
	background-image:		url('news.png');
}

.icon.listing_details {
	/* FIXME work-around for explorer */
	display:			inline;
	background-image:		url('listing_details.png');
}

.icon.listing_list {
	background-image:		url('listing_list.png');
}

.icon.listing_thumbnails {
	background-image:		url('listing_thumbnails.png');
}

.icon.new {
	background-image:		url('new.png');
}

.icon.new_directory {
	background-image:		url('new_directory.png');
}

.icon.parent_directory {
	background-image:		url('parent_directory.png');
}

.icon.paste {
	background-image:		url('paste.png');
}

.icon.read {
	background-image:		url('read.png');
}

.icon.redo {
	background-image:		url('redo.png');
}

.icon.refresh {
	background-image:		url('refresh.png');
}

.icon.remove {
	background-image:		url('remove.png');
}

.icon.reply {
	background-image:		url('reply.png');
}

.icon.search, h3.title.search, .icon.preview {
	background-image:		url('search.png');
}

.icon.select_all {
	background-image:		url('select_all.png');
}

.icon.strikethrough {
	background-image:		url('strikethrough.png');
}

.icon.subscript {
	background-image:		url('subscript.png');
}

.icon.superscript {
	background-image:		url('superscript.png');
}

.icon.underline {
	background-image:		url('underline.png');
}

.icon.undo {
	background-image:		url('undo.png');
}

.icon.unindent {
	background-image:		url('unindent.png');
}

.icon.upload_file {
	background-image:		url('upload_file.png');
}
