div.icon.add {
	background-image:		url('add.png');
}

div.icon.admin {
	background-image:		url('admin.png');
}

div.icon.align_center {
	background-image:		url('align_center.png');
}

div.icon.align_justify {
	background-image:		url('align_justify.png');
}

div.icon.align_left {
	background-image:		url('align_left.png');
}

div.icon.align_right {
	background-image:		url('align_right.png');
}

div.icon.back {
	background-image:		url('back.png');
}

div.icon.bold {
	background-image:		url('bold.png');
}

div.icon.bug {
	background-image:		url('bug.png');
}

div.icon.bullet {
	background-image:		url('bullet.png');
}

div.icon.copy {
	background-image:		url('copy.png');
}

div.icon.cut {
	background-image:		url('cut.png');
}

div.icon.delete {
	background-image:		url('delete.png');
}

div.icon.disabled {
	background-image:		url('disabled.png');
}

div.icon.browse, div.icon.download {
	background-image:		url('download.png');
}

div.icon.edit {
	background-image:		url('edit.png');
}

div.icon.enabled {
	background-image:		url('enabled.png');
}

div.icon.enum {
	background-image:		url('enum.png');
}

div.icon.forward {
	background-image:		url('forward.png');
}

div.icon.home {
	background-image:		url('home.png');
}

div.icon.hrule {
	background-image:		url('hrule.png');
}

div.icon.indent {
	background-image:		url('indent.png');
}

div.icon.insert-image {
	background-image:		url('insert-image.png');
}

div.icon.italic {
	background-image:		url('italic.png');
}

div.icon.link {
	background-image:		url('news.png');
}

div.icon.listing_details {
	/* FIXME work-around for explorer */
	display:			inline;
	background-image:		url('listing_details.png');
}

div.icon.listing_list {
	background-image:		url('listing_list.png');
}

div.icon.listing_thumbnails {
	background-image:		url('listing_thumbnails.png');
}

div.icon.new {
	background-image:		url('new.png');
}

div.icon.new_directory {
	background-image:		url('new_directory.png');
}

div.icon.parent_directory {
	background-image:		url('parent_directory.png');
}

div.icon.paste {
	background-image:		url('paste.png');
}

div.icon.read {
	background-image:		url('read.png');
}

div.icon.redo {
	background-image:		url('redo.png');
}

div.icon.refresh {
	background-image:		url('refresh.png');
}

div.icon.remove {
	background-image:		url('remove.png');
}

div.icon.reply {
	background-image:		url('reply.png');
}

div.icon.search, h3.title.search {
	background-image:		url('search.png');
}

div.icon.select_all {
	background-image:		url('select_all.png');
}

div.icon.strikethrough {
	background-image:		url('strikethrough.png');
}

div.icon.subscript {
	background-image:		url('subscript.png');
}

div.icon.superscript {
	background-image:		url('superscript.png');
}

div.icon.underline {
	background-image:		url('underline.png');
}

div.icon.undo {
	background-image:		url('undo.png');
}

div.icon.unindent {
	background-image:		url('unindent.png');
}

div.icon.upload_file {
	background-image:		url('upload_file.png');
}
