/* themes/DaPortal.css */
/* default includes */
@import url("../css/explorer.css");



img {
	border-width:			0;
}


/* classes */
.field {
	font-weight:			bold;
}

.hidden {
	display:			none;
}


/* modules */
form.explorer .selected, form.explorer .selected a {
	background-color:		#0000ff;
	color:				#ffffff;
}
