/* themes/DeforaOS.css */
/* default includes */
@import url("../css/debug.css");
@import url("../css/explorer.css");
@import url("../css/icons.css");
@import url("../css/syntax.css");
@import url("../icons/gnome/icons.css");



/* global */
* {
	margin:				0;
	padding:			0;
}

html {
	background-color:		#404040;
	color:				#ffffff;
	font-family:			"Nimbus", "Bitstream Vera Sans", sans-serif;
	font-size:			14px;
	padding:			1.5em;
}

body {
	background-color:		#000000;
	border:				1px solid #a0a0a0;
	margin-left:			auto;
	margin-right:			auto;
	max-width:			60em;
	padding:			1em;
	padding-top:			1.5em;
	text-align:			justify;
}

form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {
	margin-bottom:			0.5em;
	margin-top:			1em;
}

li {
	margin-left:			2em;
}

a {
	color:				#a0a0a0;
	text-decoration:		none;
}

a:hover {
	text-decoration:		underline;
}

form {
	padding:			0.5em;
}

h1 {
	background-color:		#800000;
	font-size:			2em;
	margin-left:			-0.5em;
	margin-right:			-0.5em;
}

h2 {
	font-size:			1.5em;
}

h1, h2, h3, h4, h5, h6 {
	clear:				left;
	color:				#a0a0a0;
	font-style:			italic;
	font-variant:			small-caps;
	letter-spacing:			3pt;
}

img {
	border-width:			0;
	vertical-align:			middle;
}

button, iframe, input[type="password"], input[type="submit"],
input[type="text"], select, textarea {
	background-color:		#a0a0a0;
	border-width:			1px;
	margin:				0.2em;
}

button, input[type="submit"] {
	padding:			0.5em;
}

input[type="password"], input[type="text"], option {
	padding:			0.2em;
}

table td, table th {
	text-align:			left;
}

table th {
	font-size:			110%;
}


/* classes */
/* explorer */
form.explorer div.header {
	background-color:		#404040;
}

form.explorer .selected {
	background-color:		#800000;
}

/* field */
.field {
	font-weight:			bold;
}

/* hidden */
.hidden {
	display:			none;
}

/* logo */
.logo {
	background-image:		url("DeforaOS-logo.png");
	background-position:		top right;
	background-repeat:		no-repeat;
	height:				51px;
	margin-bottom:			16px;
	margin-right:			30px;
	margin-top:			16px;
}

/* menu */
ul.menu {
	margin:				1em;
	margin-left:			auto;
	margin-right:			auto;
	padding:			0.2em;
}

ul.menu a:hover {
	background-image:		url("DeforaOS-gradient3.png");
	background-position:		top left;
	background-repeat:		repeat-x;
	text-decoration:		none;
}

ul.menu li {
	border-right:			1px solid #404040;
	float:				left;
	list-style-type:		none;
	margin-left:			0;
	width:				14em;
}

ul.menu li a {
	display:			block;
	font-weight:			bold;
	font-size:			120%;
	padding:			0.3em;
}

ul.menu li ul {
	background-color:		#000000;
	border:				1px solid #404040;
	border-top:			0;
	display:			none;
	margin:				0;
	padding:			0;
}

ul.menu li ul li {
	border-right:			0;
	float:				none;
	margin:				0;
}

ul.menu li:hover {
	background-color:		#800000;
}

ul.menu li:hover ul {
	display:			block;
	margin-left:			-1px;
	position:			absolute;
}

ul.menu li:hover ul li ul {
	display:			none;
}

/* style1 */
.style1 {
	background-color:		#800000;
	background-image:		url("DeforaOS-gradient3.png");
	background-position:		top left;
	background-repeat:		repeat-x;
	color:				#a0a0a0;
	font-weight:			bold;
	margin-left:			-1em;
	margin-right:			-1em;
	padding:			0.2em;
	padding-left:			1em;
}

/* table */
table.bordered {
	border:				1px solid #808080;
	border-collapse:		collapse;
	margin:				0.2em;
	padding:			0;
}

table.bordered td {
	border:				1px dotted #808080;
	padding:			0.2em;
}

table.bordered th {
	background-color:		#800000;
	border:				1px solid #808080;
	padding:			0.2em;
}

/* debug */
.debug {
	clear:				left;
}

/* headline */
.headline {
	border:				1px solid #404040;
	margin:				1em;
	padding:			1em;
	text-align:			left;
}

/* title */
.title {
	font-weight:			bold;
}

/* toolbar */
.toolbar {
	clear:				left;
}

/* top_search */
.top_search {
	float:				left;
}


/* module blog */
.blog {
	margin-top:			20px;
	margin-bottom:			20px;
}

.blog .title {
	background-color:		#000000;
	border-bottom:			2px solid #790000;
}

.blog .title span {
	background-color:		#790000;
	background-image:		url("DeforaOS-rtl.png");
	background-position:		top left;
	background-repeat:		no-repeat;
	padding-left:			10px;
	padding-top:			2px;
}

.blog .title span span {
	background-color:		#000000;
	background-image:		url("DeforaOS-bbl.png");
	background-position:		bottom right;
	background-repeat:		no-repeat;
	padding:			0;
	padding-right:			10px;
	padding-top:			2px;
}

.blog .title span span span {
	background-color:		#790000;
	background-image:		url("DeforaOS-rtr.png");
	background-position:		top right;
	background-repeat:		no-repeat;
	padding-right:			10px;
}

.blog .author, .blog .date, .blog .edit {
	display:			inline;
}

.blog .edit {
	font-style:			italic;
}

.blog .content {
	padding:			10px;
}


/* module news */
.news {
	margin-top:			20px;
	margin-bottom:			20px;
}

.news .title {
	background-color:		#000000;
	border-bottom:			solid 2px #790000;
}

.news .title span {
	background-color:		#790000;
	background-image:		url("DeforaOS-rtl.png");
	background-position:		top left;
	background-repeat:		no-repeat;
	padding-left:			10px;
	padding-top:			2px;
}

.news .title span span {
	background-color:		#000000;
	background-image:		url("DeforaOS-bbl.png");
	background-position:		bottom right;
	background-repeat:		no-repeat;
	padding:			0;
	padding-right:			10px;
	padding-top:			2px;
}

.news .title span span span {
	background-color:		#790000;
	background-image:		url("DeforaOS-rtr.png");
	background-position:		top right;
	background-repeat:		no-repeat;
	padding-right:			10px;
}

.news .author, .news .date, .news .edit {
	display:			inline;
}

.news .edit {
	font-style:			italic;
}

.news .content {
	padding:			10px;
}


/* module top */
div.top {
	background-color:		#a0a0a0;
	color:				#000000;
	margin-top:			-1.5em;
	padding:			0.1em;
	text-align:			center;
	top:				0;
}

div.top a {
	color:				#313131;
}
