/* themes/Fine.css */
/* default includes */
@import url("../css/debug.css");
@import url("../css/explorer.css");
@import url("../css/icons.css");
@import url("../css/syntax.css");
@import url("../icons/gnome/icons.css");


/* global */
* {
	margin:				0;
	padding:			0;
}

html {
	background-color:		#aa000f;
	color:				#ffffff;
	font-family:			"FreeSerif", "Georgia", serif;
	margin-left:			5em;
	margin-right:			5em;
	padding-bottom:			5em;
}

.hidden {
	display:			none;
}

a {
	color:				#00222b;
	text-decoration:		none;
}

a:hover {
	color:				#004455;
}

div.box {
	float:				left;
	padding-right:			1em;
}

div.top {
	border-left:			2px solid #ffffff;
	border-right:			2px solid #ffffff;
	padding:			1.5em;
	float:				left;
}

div.top a {
	color:				#ffffff;
	display:			block;
	font-family:			"FreeSans", "Helvetica", sans-serif;
	font-weight:			bold;
	padding:			0.1em;
	text-decoration:		none;
	width:				15em;
}

div.top a:hover {
	font-style:			italic;
}

#container ul.menu {
	display:			none;
}

#download {
	background-color:		#00222b;
	border-left:			1em solid #aa000f;
	border-right:			1em solid #044253;
	border-top:			1em solid #044253;
	clear:				both;
	color:				#ffffff;
	font-family:			"FreeSans", "Helvetica", sans-serif;
	margin:				-1em;
	margin-bottom:			0;
	padding:			1em;
}

#download a {
	color:				#ffffff;
}

#download a:hover {
	text-decoration:		underline;
}

#extra {
	padding:			1.5em;
	float:				left;
}

#extra form {
	padding-top:			1em;
}

#latest {
	background-color:		#1a1a1a;
	border-bottom:			1px solid #3e1417;
	border-left:			1px solid #4b1116;
	border-right:			1px solid #4b1116;
	border-top:			1px solid #1a1a1a;
	clear:				both;
	color:				#ffffff;
	font-family:			"FreeSans", "Helvetica", sans-serif;
	padding:			1em;
}

#latest a {
	color:				#ffffff;
}

#latest a:hover {
	text-decoration:		underline;
}

#main {
	background-color:		#ffffff;
	border-bottom:			1px solid #929090;
	border-left:			1px solid #d6858c;
	border-right:			1px solid #d6858c;
	border-bottom:			1px solid #929090;
	clear:				both;
	color:				#000000;
	padding:			1em;
}

#main h1 {
	color:				#004455;
}

#more {
	background-color:		#00232c;
	border-bottom:			1em solid #044253;
	border-left:			1em solid #aa000f;
	border-right:			1em solid #044253;
	clear:				both;
	color:				#ffffff;
	font-family:			"FreeSans", "Helvetica", sans-serif;
	margin:				-1em;
	padding:			1em;
}

#more a {
	color:				#ffffff;
}

#more a:hover {
	text-decoration:		underline;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom:			0.1em;
	padding-top:			0.5em;
}

img {
	border-width:			0;
	padding:			0;
}

img#logo {
	float:				left;
	padding:			20px;
	padding-right:			50px;
}

ol li, ul li {
	margin-left:			2em;
}

p {
	padding-top:			0.5em;
	text-align:			justify;
}
