/* default includes */
@import url('../css/explorer.css');
@import url('../css/icons.css');


/* Native theme */
body {
	background-color:	#dcdad5;
	color:			#000000;
	font-family:		sans-serif;
	font-size:		8pt;
	margin:			0;
	padding:		0;
}

a {
	color:			#000000;
	cursor:			default;
	text-decoration:	none;
}

/* widgets with a border out */
h1, h2, h3, button, input[type="button"], input[type="submit"] {
	border-bottom:		solid 1px #000000;
	border-left:		solid 1px #ffffff;
	border-right:		solid 1px #000000;
	border-top:		solid 1px #ffffff;
	margin:			0;
	padding:		2px;
	padding-left:		4px;
}

/* widgets with a border in */
input[type="password"], input[type="text"], pre, select, textarea {
	border-bottom:		solid 1px #ffffff;
	border-left:		solid 1px #000000;
	border-right:		solid 1px #ffffff;
	border-top:		solid 1px #000000;
	margin:			0;
	margin-left:		4px;
	padding:		0;
}

/* title corrections */
h1, h2 {
	border-left:		0;
	border-right:		0;
}

h1.title {
	background-position:	right;
	padding-left:		4px;
}

/* title icons */
h1 img, h2 img, h3 img {
	float:			right;
	padding-right:		2px;
}

h1 {
	min-height:		48px;
}

h2 {
	min-height:		32px;
}

h2 img {
	max-height:		32px;
}

img {
	border-width:		0;
	vertical-align:		middle;
}

p {
	padding:		4px;
}

pre {
	background-color:	#ffffff;
}


/* classes */
.debug .system {
	background-color:	#ffffff;
	border-bottom:		solid 1px #ffffff;
	border-left:		solid 1px #000000;
	border-right:		solid 1px #ffffff;
	border-top:		solid 1px #000000;
	height:			10em;
	overflow:		auto;
	margin:			4px;
}

.field {
	font-weight:		bold;
}

.hidden {
	display:		none;
}

.explorer {
	background-color:	#ffffff;
}

.explorer .entry .icon {
	width:			20px;
}

.explorer .entry .icon, .explorer .entry .thumbnail {
	text-align:		center;
}

.explorer .header div {
	background-color:	#dcdad5;
	border-bottom:		solid 1px #000000;
	border-left:		solid 1px #ffffff;
	border-right:		solid 1px #000000;
	border-top:		solid 1px #ffffff;
	padding-left:		2px;
}

.explorer .listing_list .entry {
	height:			1em;
	min-height:		16px;
	width:			200px;
}

.explorer .listing_thumbnails .entry {
	width:			100px;
}

.explorer .selected {
	background-color:	#4b6983;
	color:			#ffffff;
}

.explorer .selected a {
	color:			#ffffff;
}

.explorer .toolbar {
	background-color:	#dcdad5;
	border-bottom:		solid 1px #000000;
	border-top:		solid 1px #ffffff;
}

.explorer .toolbar img {
	border:			solid 1px #dcdad5;
}

.explorer .toolbar img:hover {
	background-color:	#eeebe7;
	border-bottom:		solid 1px #afa699;
	border-left:		solid 1px #ffffff;
	border-right:		solid 1px #afa699;
	border-top:		solid 1px #ffffff;
}

.explorer .toolbar .separator {
	border-left:		solid 1px #9e9a91;
	border-right:		solid 1px #ffffff;
}

.main {
	border-top:		solid 1px #000000;
	clear:			both;
}

.main .toolbar {
	border-bottom:		solid 1px #000000;
	border-top:		solid 1px #ffffff;
	padding-bottom:		3px;
	padding-top:		3px;
}

.main .toolbar a {
	padding:		3px;
}

.main .toolbar a:hover {
	background-color:	#eeebe7;
	border-bottom:		solid 1px #afa699;
	border-left:		solid 1px #ffffff;
	border-right:		solid 1px #afa699;
	border-top:		solid 1px #ffffff;
	padding:		2px;
}

ul.menu, ul.menu li, ul.menu ul, ul.menu ul li {
	margin:			0;
	padding:		0;
}

ul.menu, ul.menu li ul {
	border-top:		solid 1px #ffffff;
	list-style-type:	none;
}

ul.menu li {
	float:			left;
	margin:			0;
	padding:		2px;
	padding-bottom:		4px;
}

ul.menu li a {
	padding:		4px;
	padding-left:		6px;
	padding-right:		6px;
	padding-top:		2px;
}

ul.menu select {
	float:			left;
}

ul.menu li ul {
	border-left:		solid 1px #ffffff;
	display:		none;
	margin-left:		-2px;
	margin-top:		4px;
	padding:		0;
	padding-bottom:		1px;
}

ul.menu li ul li {
	float:			none;
	border-left:		solid 1px #ffffff;
	margin:			0;
}

ul.menu li ul li a {
	display:		block;
	margin-right:		1px;
	padding-bottom:		2px;
	padding-left:		20px;
	padding-right:		10px;
	padding-top:		2px;
}

ul.menu li:hover {
	background-color:	#4b6983;
}

ul.menu li:hover a {
	color:			#ffffff;
}

ul.menu li:hover a:hover {
	background-color:	#4b6983;
	color:			#ffffff;
}

ul.menu li:hover ul {
	background-color:	#dcdad5;
	border-bottom:		solid 1px #000000;
	border-left:		solid 1px #000000;
	border-right:		solid 1px #000000;
	border-top:		solid 1px #ffffff;
	display:		block;
	position:		absolute;
}

ul.menu li:hover ul li {
	background-color:	#dcdad5;
	color:			#7f7f7f;
}

ul.menu li:hover ul li a {
	color:			#000000;
}

ul.menu li:hover ul li a:hover {
	background-color:	#4b6983;
	color:			#ffffff;
}

.style1 {
	border-bottom:		solid 1px #ffffff;
	border-left:		solid 1px #000000;
	border-right:		solid 1px #ffffff;
	border-top:		solid 1px #000000;
	margin:			1px;
}

.top {
	border-bottom:		solid 1px #000000;
	border-left:		solid 1px #ffffff;
	border-right:		solid 1px #000000;
	border-top:		solid 1px #ffffff;
	padding-bottom:		3px;
	padding-top:		3px;
}

.top a {
	padding:		3px;
}

.top a:hover {
	background-color:	#eeebe7;
	border-bottom:		solid 1px #afa699;
	border-left:		solid 1px #ffffff;
	border-right:		solid 1px #afa699;
	border-top:		solid 1px #ffffff;
	padding:		2px;
}

.tree {
	background-color:	#ffffff;
	border-bottom:		solid 1px #000000;
	border-right:		solid 1px #000000;
	overflow:		auto;
	padding-right:		4px;
}

.tree img {
	vertical-align:		text-bottom;
}

.tree .entry
{
	margin-left:		16px;
	white-space:		nowrap;
}

.tree .node {
	background-image:	url('../icons/tree/vertline.gif');
	background-position:	top left;
	background-repeat:	repeat-y;
}

#folders {
	float:			left;
	width:			200px;
}
