/* default includes */
@import url("../css/debug.css");
@import url("../css/explorer.css");
@import url("../css/icons.css");
@import url("../css/syntax.css");
@import url("../icons/gnome/icons.css");


/* defaults */
* {
	border-width:		0;
	font-family:		sans-serif;
	font-size:		13px;
	margin:			0;
	padding:		0;
	text-align:		justify;
}


/* background and color */
html {
	background-color:	#d0d080;
	background-image:	url('papadam-bg.png');
	color:			#000000;
}

body {
	background-color:	#ffffff;
	color:			#000000;
}

a {
	color:			#606030;
}

h1 {
	color:			#606030;
	font-size:		24px;
}

h2, h3 {
	color:			#404020;
}

h2 {
	font-size:		20px;
}

h3 {
	font-size:		16px;
}

iframe, pre {
	border:			1px solid #808080;
}

pre {
	font-family:		monospace;
	margin:			4px;
	padding:		4px;
}

ul li {
	margin-left:		2em;
}


/* text */
a {
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}


/* margins and paddings */
body {
	margin-bottom:		64px;
	margin-left:		auto;
	margin-right:		auto;
	margin-top:		64px;
	padding:		4px;
	width:			80%;
}

table {
	margin-top:		4px;
}

h1, h2, h3, p {
	padding-top:		4px;
}


/* position */
h1 {
	clear:			left;
}


/* borders */
body {
	border:			1px solid #000000;
}

input[type="password"], input[type="submit"], input[type="text"], select,
	textarea {
	border-width:		1px;
}


/* for DaPortal */
.debug {
	clear:			left;
}

.hidden {
	display:		none;
}


/* debug, headline */
.debug, .headline {
	background-color:	#ffffa0;
	border:			1px solid #d0d0d0;
	margin:			4px;
	padding:		4px;
}


/* forms */
td.field {
	font-weight:		bold;
	vertical-align:		top;
}


/* menu */
ul.menu {
	margin-left:		-4px;
}

ul.menu li {
	float:			left;
	list-style-type:	none;
	margin-left:		0;
	white-space:		nowrap;
}

ul.menu li a {
	display:		block;
	padding:		4px;
}

ul.menu li a:hover {
	background-color:	#d0d080;
}

ul.menu li ul {
	border:			1px solid #d0d080;
	display:		none;
}

ul.menu li:hover ul {
	background-color:	#ffffff;
	display:		block;
	position:		absolute;
}

ul.menu li:hover ul li ul {
	display:		none;
}

ul.menu li ul li:hover ul {
	display:		block;
}

ul.menu li ul li {
	float:			none;
}

ul.menu * li:hover ul {
	margin-left:		100%;
	margin-top:		-100%;
}


/* project, search */
div.bug div.reply, div.bug div.edit {
	display:		inline;
}

div.bug_reply, div.search div.entry {
	border:			1px solid #000000;
	margin:			4px;
	padding:		4px;
}

div.bug_reply div.author, div.bug_reply div.date,
div.search div.entry div.author, div.search div.entry div.date {
	float:			left;
	padding-bottom:		4px;
	padding-left:		4px;
	padding-top:		4px;
}

div.bug_reply div.content, div.search div.entry div.content {
	clear:			left;
	border-top:		1px solid #d0d0d0;
	margin-left:		-4px;
	margin-right:		-4px;
	padding:		4px;
}

div.bug_reply div.status, div.bug_reply div.title,
div.search div.entry div.title {
	background-color:	#d0d0d0;
	padding:		4px;
	margin-left:		-4px;
	margin-right:		-4px;
}

div.bug_reply div.status {
	margin-bottom:		-4px;
}

div.bug_reply div.title, div.search div.entry div.title {
	background-color:	#d0d080;
	border-bottom:		1px solid #808080;
	margin-top:		-4px;
}


/* tables */
table.bordered {
	border:			1px solid #808080;
	border-spacing:		0 0;
}

table.bordered td, table.bordered th {
	border-bottom:		1px solid #d0d080;
	border-right:		1px solid #d0d080;
	padding:		4px;
}

table.bordered th {
	color:			#404020;
	border-bottom:		1px solid #808080;
}


/* toolbar */
div.toolbar {
	background-color:	#ffffa0;
	clear:			left;
	margin-left:		-4px;
	margin-right:		-4px;
	padding:		4px;
}


/* top */
div.top {
	background-color:	#d0d0d0;
	border-bottom:		1px solid #808080;
	color:			#000000;
	font-size:		80%;
	margin-left:		-4px;
	margin-right:		-4px;
	margin-top:		-4px;
	padding:		4px;
	text-align:		center;
}

div.top a {
	color:			#000000;
}


/* from DeforaOS */
.explorer .entry {
	overflow:			hidden;
}

.explorer .entry .icon {
	text-align:			center;
	width:				20px;
}

.explorer .entry .thumbnail {
	height:				100px;
	margin-top:			4px;
	text-align:			center;
	width:				100px;
}

.explorer .entry .thumbnail img {
	max-height:			100px;
	max-width:			100px;
}

.explorer .header {
	background-color:		#d0d0d0;
}

.explorer .header div.sort {
	background-image:		url("../icons/16x16/down.png");
	background-repeat:		no-repeat;
	background-position:		center right;
	padding-right:			16px;
}

.explorer .selected, .explorer .selected a {
	background-color:		#d0d080;
	color:				#707040;
}

.explorer .toolbar {
	background-color:		#f0f0f0;
}

.explorer .toolbar .separator {
	background-color:		#d0d080;
	padding-left:			1px;
}

.explorer .listing_details .header div,
.explorer .listing_details .entry div {
	padding-left:			4px;
	text-align:			left;
}

.explorer .listing_details .header div.icon,
.explorer .listing_details .header div.name,
.explorer .listing_details .entry div.icon,
.explorer .listing_details .entry div.name {
	padding:			0;
}

.explorer .listing_details .entry .date,
.explorer .listing_details .entry .mode,
.explorer .listing_details .entry .revision {
	font-family:			monospace;
	font-size:			90%;
}

.explorer .listing_list .entry {
	height:				1em;
	min-height:			16px;
	width:				200px;
}

.explorer .listing_list .entry .name {
	text-align:			left;
}

.explorer .listing_thumbnails .entry {
	margin-right:			4px;
	margin-top:			4px;
	width:				100px;
}
