/* themes/Papadmin.css */
/* default includes */
@import url("../css/debug.css");
@import url("../css/explorer.css");
@import url("../css/icons.css");
@import url("../icons/gnome/icons.css");



html {
	background-color:		white;
	color:				black;
	font-family:			sans-serif;
	font-size:			11px;
	margin:				0;
	padding:			0;
}

body {
	margin:				0;
	padding:			0;
}

div#container {
	background-image:		url('../themes/papadam-bg.png');
	background-position:		0 -24px;
	background-repeat:		repeat-x;
	height:				536px;
	margin-left:			auto;
	margin-right:			auto;
	margin-top:			32px;
	overflow:			auto;
	padding-left:			100px;
	padding-top:			40px;
	width:				800px;
}

a {
	color:				#7f7f7f;
	text-decoration:		none;
}

h1 {
	font-size:			18px;
}

h2 {
	font-size:			15px;
}

h3 {
	font-size:			12px;
}

img {
	border-width:			0;
}

button, input[type='submit'] {
	background-color:		#cfcfcf;
	margin:				0;
	padding:			2px;
}

button, input[type='submit'], input[type='password'], input[type='text'],
	select, textarea {
	border-width:			1px;
}

table {
	border-collapse:		collapse;
}

th {
	background-color:		#cfcfcf;
}


/* classes */
.field {
	font-weight:			bold;
}

.hidden {
	display:			none;
}

h1.title {
	padding-top:			8px;
}

h2.title {
	padding-top:			6px;
}

h3.title {
	padding-top:			4px;
}

.toolbar {
	background-color:		#dfdfdf;
	padding:			2px;
}


/* modules */
/* debug */
.debug .visible {
	font-size:			13px;
	font-weight:			bold;
	padding-top:			12px;
}

.debug.system {
	border:				1px solid black;
	font-family:			monospace;
	max-height:			128px;
	overflow:			auto;
	position:			fixed;
	top:				616px;
	width:				800px;
}

.debug.system .error {
	background-color:		#ff7f7f;
}

.debug.system .info {
	background-color:		#7fff7f;
}

.debug.system .warning {
	background-color:		#ffff7f;
}

/* explorer */
form.explorer div.entry {
	overflow:			hidden;
}

form.explorer .listing_list div.entry {
	width:				150px;
}

form.explorer div.entry span.thumbnail {
	height:				100px;
	text-align:			center;
	width:				100px;
}

form.explorer .selected, .explorer .selected a {
	background-color:		#d0d080;
}

/* menu */
ul.menu {
	list-style-type:		none;
	margin-left:			-100px;
	padding:			0;
	padding-left:			4px;
	position:			absolute;
	width:				100px;
}

ul.menu li ul {
	display:			none;
}
