/* css/explorer.css */



/* explorer */
form.explorer {
	overflow:		auto;
}

form.explorer div.toolbar img {
	padding:		2px;
	max-height:		16px;
	max-width:		16px;
}

form.explorer div.toolbar .separator {
	display:		inline;
}

form.explorer div.header {
	font-weight:		bold;
}

form.explorer div.entry {
	cursor:			default;
}

form.explorer div.entry span.icon {
	padding-left:		2px;
	padding-right:		2px;
}

form.explorer div.entry span.icon img {
	max-height:		16px;
	max-width:		16px;
}

/* explorer listing_details */
form.explorer div.listing_details div.entry span {
	vertical-align:		middle;
}

form.explorer div.listing_details {
	display:		table;
	width:			100%;
}

form.explorer div.listing_details div.header {
	display:		table-row;
}

form.explorer div.listing_details div.header span {
	display:		table-cell;
}

form.explorer div.listing_details div.entry {
	display:		table-row;
}

form.explorer div.listing_details div.entry span {
	display:		table-cell;
}

form.explorer div.listing_details div.entry span.thumbnail {
	display:		none;
}

/* explorer listing_list */
form.explorer div.listing_list div.header,
form.explorer div.listing_list div.entry span {
	display:		none;
}

form.explorer div.listing_list div.entry {
	float:			left;
	width:			10em;
}

form.explorer div.listing_list div.entry span.icon,
form.explorer div.listing_list div.entry span.name {
	display:		inline;
}

form.explorer div.listing_list div.entry span.name {
	vertical-align:		top;
}

/* explorer listing_thumbnails */
form.explorer div.listing_thumbnails div.header,
form.explorer div.listing_thumbnails div.entry span {
	display:		none;
}

form.explorer div.listing_thumbnails div.entry span.thumbnail img {
	height:			48px;
	width:			48px;
}

form.explorer div.listing_thumbnails div.entry {
	float:			left;
	height:			100px;
	overflow:		hidden;
	text-align:		center;
	width:			100px;
}

form.explorer div.listing_thumbnails div.entry span.name {
	text-align:		center;
	word-wrap:		break-word;
}

form.explorer div.listing_thumbnails div.entry span.name,
form.explorer div.listing_thumbnails div.entry span.thumbnail {
	display:		block;
}
