h1.title, h2.title, h3.title {
	background-position:		top left;
	background-repeat:		no-repeat;
	min-height:			48px;
	padding-left:			56px;
	padding-top:			4px;
}

h2.title {
	min-height:			32px;
	padding-left:			40px;
}

h3.title {
	min-height:			16px;
	padding-left:			24px;
}


/* existing icons */
div.icon.admin {
	background-image:		url('../icons/16x16/admin.png');
}

div.icon.browse, div.icon.download {
	background-image:		url('../icons/16x16/download.png');
}

div.icon.project {
	background-image:		url('../icons/16x16/project.png');
}
